.resultItem__stats {
  padding-top: 30px;
  display: flex;
  justify-content: end;
}
.resultItem__stats div {
  margin-left: 10px;
}
.resultItem {
  animation-timing-function: linear;
  animation: 3s linear 0.1s colorIt;
  text-decoration: none;
  color: #000;
  margin: 10px 30px;
  padding: 20px;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
}
