.search {
  background-color: #7c7c87;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  height: 100%;
  color: #fff;
}

.search__title {
  color: #f3fba9;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
}
.search__head {
  width: 100%;
  padding-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid #f3fba9;
}
